/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
h1,h2,h3{
    text-align: center;
    background-color: aqua;
    margin: auto;
}

article{
    display:flex;
    flex-direction:column;
    margin:0 0 0 0;
}
#stagbeetle{
    background-color: #B26219;
}
#ladybug{
    background-color: #FFD5AE;
}
#bluemintbeetle{
    background-color:#FFBD82;
}
a{
    font-size: 15px;
    text-align: center;
}

p{
    background-color: rgb(255, 255, 255);
    opacity: 100%;
}
body {
    font-family: sans-serif;
    color: rgb(109, 46, 46);
    background: rgb(255, 255, 255);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 100%; /* DO NOT delete or change this line */
}
footer{
    font-style: italic;
    font-size: smaller;
    height: 80px;
    color: rgb(136, 103, 103);
}

p{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.text{
    background-color: white;
    margin: 15px;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
